<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>npd-todo-app</title>
    <link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
</head>

<style>
    html {
        padding: 0;
        margin: 0;
        background: skyblue;
    }

    p {
        color: whitesmoke;
        font-size: 200px;
        text-transform: uppercase;
        font-family: 'Lacquer', sans-serif;
        text-align: center;
        vertical-align: middle;
    }
</style>

<body>
    <p>mlem mlem</p>

</body>

</html>